<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            color: #333;
            margin: 0;
            padding: 0;
            background-image: url(../assets/ecommerce\ background.jpg);
            background-size: cover;
            background-position: center;
        }
        header {
            background-color: #1c170000; /* Gold color */
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header img {
            max-width: 100px;
            height: auto;
        }
        header h1 {
            margin: 0;
            font-size: 24px;
            flex-grow: 1;
            text-align: center;
        }
        .logout {
            background-color: #343330; /* Gold color */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }
        .logout:hover {
            background-color: #FFC107; /* Darker yellow for hover effect */
        }
        .container {
            text-align: center;
            padding: 50px;
        }
        button {
            background-color: #343330; /* Gold color */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #FFC107; /* Darker yellow for hover effect */
        }
    </style>
</head>
<body>

    <header>
        <img src="../assets/shopmate logo.png" alt="Logo">
        <h1>Admin Dashboard</h1>
        <a href="/admin/logout" class="logout">Logout</a>
    </header>
    
    <div class="container">
        <button onclick="window.location.href='/admin/addproduct'">Add Product</button>
        <button onclick="window.location.href='/admin/addcategory'">Add Category</button>
        <button onclick="window.location.href='/admin/viewproducts'">View Product</button>
        <button onclick="window.location.href='/admin/viewcategories'">View Category</button>
        <button onclick="window.location.href='/admin/viewusers'">View User</button>
        <button onclick="window.location.href='/admin/viewdetails'">View Detail</button>
        <button onclick="window.location.href='/admin/coupon'">Add coupon </button>
        <button>Add banner</button>
    </div>

</body>
</html>
