<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods."
    />
    <meta
      name="keywords"
      content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store"
    />

    <!-- SITE TITLE -->
    <title>Shopwise - eCommerce Bootstrap 5 HTML Template</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="assets/css/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/linearicons.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/simple-line-icons.css" />
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css" />
    <link
      rel="stylesheet"
      href="assets/owlcarousel/css/owl.theme.default.min.css"
    />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/slick.css" />
    <link rel="stylesheet" href="assets/css/slick-theme.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-106310707-1", { anonymize_ip: true });
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-G6MPNF0KNC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-G6MPNF0KNC");
    </script>

    <!-- Hotjar Tracking Code for bestwebcreator.com -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2073024, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>

    <!-- Start of StatCounter Code -->
    <script>
      	<!--
      	var sc_project=11921154;
      	var sc_security="6c07f98b";
      		var scJsHost = (("https:" == document.location.protocol) ?
      		"https://secure." : "http://www.");
      			//-->

      document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <!-- End of StatCounter Code -->

    <style>
      .forgot-password-wrap {
        display: none; /* Initially hidden */
      }
    </style>
  </head>

  <body>
    <!-- LOADER -->
    <!-- <div class="preloader">
      <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> -->
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header class="header_wrap fixed-top header_with_topbar">


     

      <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img
                class="logo_light"
                src="assets/images/logo_light.png"
                alt="logo"
              />
              <img
                class="logo_dark"
                src="assets/images/logo_dark.png"
                alt="logo"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-expanded="false"
            >
              <span class="ion-android-menu"></span>
            </button>
            


        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
      <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="page-title">
              <h1>Login</h1>
            </div>
          </div>
          
        </div>
      </div>
      <!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">
      <!-- START LOGIN SECTION -->

      <div class="login_register_wrap section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
              <div class="login_wrap">
                <div class="padding_eight_all bg-white">
                  <div class="login-content" id="login-content">
                    <div class="heading_s1">
                      <h3>Login</h3>
                    </div>
                    <% if (errors) { %>
                      <p style="color: red"><%= errors.blockerr %></p>
                      <% } %>

                    <form method="post" >
                      <div class="form-group mb-3">
                        <% if (errors) { %>
                        <p style="color: red"><%= errors.emailerr %></p>
                        <% } %>
                        <input
                          type="text"
                          required=""
                          class="form-control"
                          name="email"
                          placeholder="Your Email"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <% if (errors) { %>
                        <p style="color: red"><%= errors.passerr %></p>
                        <% } %>
                        <input
                          class="form-control"
                          required=""
                          type="password"
                          name="password"
                          placeholder="Password"
                        />
                      </div>
                      <div class="login_footer form-group mb-3">
                        <div class="chek-form">
                          <div class="custome-checkbox">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="checkbox"
                              id="exampleCheckbox1"
                              value=""
                            />
                            <label
                              class="form-check-label"
                              for="exampleCheckbox1"
                              ><span>Remember me</span></label
                            >
                          </div>
                        </div>
                        <a
                          href="#forgot-password-wrap"
                          id="forgot-password-link"
                          >Forgot password?</a
                        >
                      </div>
                      <div class="form-group mb-3">
                      
                        <button
                         type="submit"
                          class="btn btn-fill-out btn-block"
                          name="login"
                           >
                          Log in
                        </button>
                      </div>
                    </form>

                    <div class="form-note text-center">
                      Don't Have an Account? <a href="/signup">Sign up now</a>
                    </div>
                  </div>

                  <div class="forgot-password-wrap" id="forgot-password-wrap">
                    <div class="heading_s1">
                      <h3>Forgot Password</h3>
                      <p
                        id="error-content"
                        style="color: red; text-align: center"
                      ></p>
                    </div>
                    <form
                      id="forgot-password-form"
                      action="/forgot-password"
                      method="post"
                    >
                      <div class="form-group mb-3">
                        <input
                          type="email"
                          required=""
                          class="form-control"
                          name="forgotemail"
                          id="forgot-email-input"
                          placeholder="Your Email"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <button
                          type="submit"
                          class="btn btn-fill-out btn-block"
                          id="forgot-otp-link"
                          name="reset-password"
                        >
                          Reset Password
                        </button>
                      </div>
                      <div class="form-note text-center">
                        <a href="#login-content" id="back-to-login-link"
                          >Back to Login</a
                        >
                      </div>
                    </form>
                  </div>

                  <div
                    class="padding_eight_all bg-white"
                    id="forgot-otp-content"
                    style="display: none"
                  >
                    <div class="heading_s1">
                      <h3>OTP</h3>
                      <p id="otp-sending"></p>
                    </div>
                    <form method="post" action="/forgototp">
                      <div class="form-group mb-3">
                        <input
                          type="number"
                          required=""
                          class="form-control"
                          name="forgototp"
                          placeholder="Enter OTP"
                          maxlength="6"
                        />
                       
                      </div>
                      <div class="form-group mb-3">
                       
                        <button
                          type="submit"
                          class="btn btn-fill-out btn-block"
                          name="submit-otp"
                        >
                          Submit
                        </button>
                      </div>
                      <div class="form-note text-center">
                        <a href="#"  id="resend-otp" style="color: blue; text-align: center;" >Resend otp </a>
                      </div>
                    </form>
                  </div>

                  <div
                    class="padding_eight_all bg-white"
                    id="forgot-password-content"
                    style="display: none"
                  >
                    <div class="heading_s1">
                      <h3>Change password</h3>
                      <p id="chpass_sts"></p>
                    </div>
                    <form method="post" action="/password-reset">
                      <div class="form-group mb-3">
                        <input
                          type="text"
                          required=""
                          id="changepass"
                          class="form-control"
                          name="changepass"
                          placeholder="new password"
                        />
                        <input
                          type="text"
                          required=""
                          id="changecpass"
                          class="form-control"
                          name="changecpass"
                          placeholder="confirm password"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <button
                          type="submit"
                          class="btn btn-fill-out btn-block"
                          name="submit-pass"
                        >
                          Submit
                        </button>
                      </div>
                      <div class="form-note text-center"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END LOGIN SECTION -->
       

      <!-- START SECTION SUBSCRIBE NEWSLETTER -->
      <div class="section bg_default small_pt small_pb">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="heading_s1 mb-md-0 heading_light">
                <h3>Subscribe Our Newsletter</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="newsletter_form">
                <form>
                  <input
                    type="text"
                    required=""
                    class="form-control rounded-0"
                    placeholder="Enter Email Address"
                  />
                  <button
                    type="submit"
                    class="btn btn-dark rounded-0"
                    name="submit"
                    value="Submit"
                  >
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    </div>
    <!-- END MAIN CONTENT -->

    <!-- START FOOTER -->
    <%- include('../layout/footer') %>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <script>


async function login(){
  alert("okkk")
}
      document.addEventListener("DOMContentLoaded", function () {
        const forgotPasswordForm = document.getElementById(
          "forgot-password-form"
        );
        const forgotEmailInput = document.getElementById("forgot-email-input");
        const forgotPasswordWrap = document.getElementById(
          "forgot-password-wrap"
        );
        const forgotOtpContent = document.getElementById("forgot-otp-content");
        const backToLoginLink = document.getElementById("back-to-login-link");
        const errorContent = document.getElementById("error-content");
        const statusElement = document.getElementById("otp-sending");
        const passwordReset = document.getElementById(  "forgot-password-content");
       const  changepass=document.getElementById("changepass")
        const changecpass=document.getElementById("changecpass")
        const passwordsts=document.getElementById("chpass_sts")


        document.getElementById("forgot-password-link").addEventListener("click", function () {
            document.getElementById("login-content").style.display = "none";
            forgotPasswordWrap.style.display = "block";
          });

        backToLoginLink.addEventListener("click", function () {
          forgotPasswordWrap.style.display = "none";
          document.getElementById("login-content").style.display = "block";
        });

        forgotPasswordForm.addEventListener("submit", async function (event) {
          event.preventDefault(); // Prevent the default form submission

          const email = forgotEmailInput.value.trim();

          errorContent.textContent = "";

          try {
            const response = await fetch("/forgot-password", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ forgotemail: email }),
            });

            if (response.ok) {
              const result = await response.json();
              console.log(result.message);
              if (result.success) {
                forgotPasswordWrap.style.display = "none";
                forgotOtpContent.style.display = "block";
                statusElement.textContent = result.message;
                statusElement.style.color = "green";
                statusElement.style.textAlign = "center";
              } else {
                if (result.message) {
                  errorContent.textContent = result.message;
                  statusElement.textContent = "Error"; // Change this to your specific error handling
                  statusElement.style.color = "red";
                  statusElement.style.textAlign = "center";
                }
              }
            } else {
              errorContent.textContent =
                "Error sending email. Please try again.";
                
            }
          } catch (error) {
            console.error("Error:", error);
            alert("An error occurred. Please try again.");
          }
        });

        forgotOtpContent.addEventListener("submit", async function (event) {
          event.preventDefault();
          const forgototp = forgotOtpContent.querySelector("[name=forgototp]").value;

          try {
            const response = await fetch("/forgot-otp", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ forgototp }),
            });
            const result = await response.json();
            console.log(result);
            if (result.success) {
              document.getElementById("forgot-otp-content").style.display =
                "none";
              document.getElementById("forgot-password-content").style.display =
                "block";

              console.log(result.message);
            } else {
              // OTP verification failed
              statusElement.textContent = result.message;
              statusElement.style.color = "red";
            }
          } catch (error) {
            console.error("an error occueed while sending otp");
            statusElement.textContent = "an error occueed while sending otp";
            statusElement.style.color = "red";
          }
        
             


        });

        passwordReset.addEventListener('submit', async function(event) {
          event.preventDefault();


       

    const newPassword = passwordReset.querySelector('[name=changepass]').value;
    const newCpassword=passwordReset.querySelector('[name=changecpass]').value;


    if (newPassword !== newCpassword) {
    passwordsts.textContent = "Passwords do not match";
    passwordsts.style.color = "red";
    return; // Exit the function early if passwords don't match
  }
  if(newPassword&&newCpassword===""){
    passwordsts.textContent = "enter password";
    passwordsts.style.color = "red";
    return;

  }

    try {
      const response = await fetch('/password-reset', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ changepass: newPassword ,changecpass:newCpassword})
      });

      const result = await response.json();
      console.log('This is result', result);

      if (result.success) {
        console.log('Password reset successfully');
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Your password has been reset',
          showConfirmButton: false,
          timer: 1500
        });
        document.getElementById('login-content').style.display = 'block';
        passwordReset.style.display = 'none';
      } else {
        console.error('An error occurred:', result.message);
         passwordsts.textContent=result.message
         passwordsts.style.color="red"
      }
    } catch (error) {
      console.error('An error occurred while sending the request:', error);
          passwordsts.textContent=error
          passwordsts.style.color="red"
    }
  });

  document.getElementById("resend-otp").addEventListener("click",async function(){
    try {
        const response=await fetch("/forgot-resend-otp",{method:"POST"})
        const result =await response.json()
        if(result.success){
            Swal.fire({
                     position: "top-end",
                     icon: "success",  
                      title: "Otp resended ",
                     showConfirmButton: false,
                       timer: 1500
});
            statusElement.textContent=result.message
            statusElement.style.color="green"
        }else{
            statusElement.textContent=response.message
            statusElement.style.color="red"
            
        }

        
    } catch (error) {

        console.error("Error resending OTP:", error);
            statusElement.textContent =
              "Error resending OTP. Please try again.";
            statusElement.style.color = "red";
          
        
        
    }

  })

      
      });
    </script>

    <!-- Latest jQuery -->
    <script src="assets/js/jquery-3.7.0.min.js"></script>
    <!-- popper min js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="assets/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- imagesloaded js -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="assets/js/isotope.min.js"></script>
    <!-- jquery.dd.min js -->
    <script src="assets/js/jquery.dd.min.js"></script>
    <!-- slick js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- elevatezoom js -->
    <script src="assets/js/jquery.elevatezoom.js"></script>
    <!-- scripts js -->
    <script src="assets/js/scripts.js"></script>
  </body>
</html>
